body{
    background: #FDF7EC !important;
    margin: 0;
    padding-top: 110px;     
    font-family: "Microsoft JhengHei", sans-serif;
}

.checkout-complete-container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-complete-box {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.complete-icon {
  width: 100px;
}

.btn-cancel {
  background-color: white;
  color: #F4A7B9;
  border: 2px solid #F4A7B9;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
.btn-confirm {
  background-color: #F4A7B9;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .checkout-steps {
    margin-bottom: 30px;
  }
}